extends layout

block content
  .nav
    form(method='post' action='/logout')
      input(type='submit' value='Sign out' id='logout')
      br
      br
  div.header
    h1= title
  if error
    h3(class='error')= error
  if pending
    h3(class='pending')= pending
  if username
    div.regLog
      h3(id='user') Welcome #{username}!
      form(method='post' action='/tweet')
        label What's on your mind?       
          input(id='tweetbody' type='text' name='tweetBody' placeholder='Type your post here...')
          br
          br
          input(type='submit' value='Post my comment' id='bigButton')
    div.tweetTable
      h1(class="saying") What people are saying...
      each tweet in tweetTable
        div.tweetSlot
          p(class="tweetUser")=tweet.username + ':'
          p(class="tweetBody")=tweet.tweetBody
          p(class="tweetTime")=tweet.tweetTime

  else
    h3(class='title') You are not logged in. Would you like to be?
    #id.regLog
      form(method="post" action="/register")
        h2 Register a new account
        div
          label Username:
            input(type="text" name="username" placeholder="username")
            br
        div
          label Password:
            input(type="password" name="password")
            br
        div
          label Confirm Password:
            input(type="password" name="password_confirm")
            br
        div
          label Email Address:
            input(type="text" name="email")
            br
        div
          input(type="submit" value="Pleased to meet you!")
    #login.regLog
      form(method="post" action="/login")
        h2 Sign into an existing account
        div
          label Username:
            input(type="text" name="username" placeholder="username")
            br
        div
          label Password:
            input(type="password" name="password")
            br
        div
          input(type="submit" value="Let me in!")
